<text>
    <ul class="nav navbar-nav navbar-right">
        <li class="navbar-text">
            Welcome
        </li>
        <li>
            @Html.ActionLink("Sign out", "ExtSignOut", "Account")
        </li>
    </ul>
</text>

