@model IEnumerable<SuccessFactors.Models.StudentInfo>

@{
    ViewBag.Title = "Students";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Choose a course to Enroll</h1>

<br/>
<div class="row">
    <div class="col-md-12">
        <label for="courses_assigned"> Select a course</label>

        <select id="courses_assigned" class="col-md-12">
            <option value=" "> </option>

            <option value="1">Machine Learning</option>
            <option value="2">Discrete Mathematics</option>
            <option value="3">Chemistry</option>
            <option value="4">Physics</option>
            <option value="5">Physical Education</option>

        </select>
    </div>

    <div class="col-md-12">
        <label for="instructors_assigned"> Select an instructor</label>

        <select id="instructors_assigned" class="col-md-12">
            <option value=" "> </option>

            <option value="1">Peter Drury</option>
            <option value="2">Martin Tyler</option>
            <option value="3">Alessandro Leonardo</option>
            <option value="4">Chris Tomlin</option>
            <option value="5">Matteo Messi</option>

        </select>
    </div>
</div>



@section Scripts
    {
    
    <script type="text/javascript">

        $(function () {

            $("#courses_assigned").chosen();

        });
</script>    
    }