
@{
    ViewBag.Title = "LMS Attandance";
    Layout = "~/Views/Shared/_ExternalLayout.cshtml";
}

<h2>Log In</h2>

@using (Html.BeginForm("ValidateExtUser", "Account"))
{
    <div class="form-group">
        <input type="text" class="form-control" name="email" placeholder="Email" required="required">
    </div>

    <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password" required="required">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success btn-lg btn-block">Log In</button>
    </div>
}

<div class="text-center">
    @Html.ActionLink("Log-In with TC Credentials", "Index", "Home")
</div>